<!-- Welcome -->

  <div class="about">
    <br>
    <br>
    <p id="welcome-text">Welcome to Bookshelf!</p>
    <br>
    <br>
    <p style="font-size: 25px; color: white;">A community for readers.</p>
  </div>

  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
