/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html {
  min-height: 100%;
}

body.devise {
  min-height: 100%;
  background-image: image-url('/assets/books.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.body.index{
  background-color: white;
}

//Sign in form
.wrapper {
  max-width: 400px;
  min-height: 500px;
  margin-left: 160px;
  margin-top: 70px;
  position: relative;
  background-color: #E0360B;
  box-sizing: border-box;
  opacity: .83;
  border-radius: 20px;
}


.signin-form {
  padding-top: 50px;
  text-align: center;
  color: white;
  font-family: bookman;
}

.field input {
  border-radius: 2px;
  border-width: thin;
  border-style: none;
  color: black;
  background-color: white;
}


.edit-form {
  font-family: bookman;

}


.devise-links {
  color: white;
}

.submit {
  background-color: white;
  color: black;
}
