// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 body.favorites {
   min-height: 100%;
   background-color: rgba(239, 35, 60, 0.9);
 }

.book-grid{
  min-height: 100%;
  padding-top: 50px;
}

.book-cover {
  border-radius: 3px;
}
