// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.favorites-table {
  background-color: #E0360B;
  border: 1px solid #E0360B;
  width: 100%;
  color: white;
}

.a-primary {
  color: white;
}
